<ion-card>
  <ion-item color="">
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>{{ client.name }}</ion-label>
    <ion-button slot="end" color="warning" [routerLink]="[client.id]">
      <ion-icon name="pencil-outline" shape="round" color="light"></ion-icon>
    </ion-button>
    <ion-button slot="end" color="danger" (click)="presentAlert()">
      <ion-icon name="trash-outline" shape="round" color="light"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>