strong {
    margin-right: 10px;
}

ion-icon {
    font-size: 18px;
    --ionicon-stroke-width: 48px;
}

ion-card {
    border-left: 10px solid #2DD36F;
}

.delete-alert {
 --background: red !important;
}