<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" 
        *ngFor="let client of clientList; index as position">
          <app-client-container [client]="client"></app-client-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" fill="outline" slot="end" [routerLink]="['/clients/new']">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Adicionar
    </ion-button >
  </ion-toolbar>
</ion-footer>
