<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Adicionar Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset="3">
        <form #f="ngForm" (ngSubmit)="submitForm()">
          <ion-item>
            <ion-label position="floating">Nome Completo</ion-label>
            <ion-input 
              id="nameInput" name="nameInput" [(ngModel)]="client.name" 
              #nameInput="ngModel" type="text" required>
            </ion-input>
          </ion-item>
          <app-error-message [form]="f.controls['nameInput']"></app-error-message>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input 
              id="emailInput" name="emailInput" [(ngModel)]="client.email" 
              #emailInput="ngModel" type="email" pattern="{{emailPattern}}"
              required>
            </ion-input>
          </ion-item>
          <app-error-message [form]="f.controls['emailInput']" ></app-error-message>
          <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input id="phoneInput" name="phoneInput" [(ngModel)]="client.phone" 
              #phoneInput="ngModel" type="text" [brmasker]="{phone: true}" required minlength="15">
          </ion-input>
          </ion-item>
          <app-error-message [form]="f.controls['phoneInput']" ></app-error-message>
          <ion-item>
            <ion-label position="floating">Data de Nascimento</ion-label>
            <ion-input id="birthDateInput" name="birthDateInput" [(ngModel)]="client.birth_date" 
              #birthDateInput="ngModel" type="date" placeholder="" required>
          </ion-input>
          </ion-item>
          <app-error-message [form]="f.controls['birthDateInput']" ></app-error-message>
          <ion-button type="submit" [disabled]="!f.valid">Cadastrar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
