<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Adicionar Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <form [formGroup]="clientInfo" (ngSubmit)="submitForm()">
          <ion-item>
            <ion-label position="floating">Nome Completo</ion-label>
            <ion-input 
              id="nameInput" name="nameInput" formControlName="name" type="text">
            </ion-input>
          </ion-item>
          <app-error-message [form]="clientInfo.controls['name']"></app-error-message>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input 
              id="emailInput" name="emailInput" formControlName="email" type="email">
            </ion-input>
          </ion-item>
          <app-error-message [form]="clientInfo.controls['email']" ></app-error-message>
          <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input id="phoneInput" name="phoneInput" formControlName="phone" 
              type="text" [brmasker]="{phone: true}">
          </ion-input>
          </ion-item>
          <app-error-message [form]="clientInfo.controls['phone']" ></app-error-message>
          <ion-item>
            <ion-label position="floating">Data de Nascimento</ion-label>
            <ion-datetime id="birthDateInput" name="birthDateInput" formControlName="birth_date" 
              type="date" placeholder="">
          </ion-datetime>
          </ion-item>
          <app-error-message [form]="clientInfo.controls['birth_date']" ></app-error-message>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="full" color="medium" (click)="cancelWarning()">Cancelar</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button type="submit" expand="full" [disabled]="!clientInfo.valid">Salvar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
